@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "arrows";

html {
	scroll-behavior: smooth;
}

x-cloak {
    @apply hidden;
}

.accordion p:not(:first-child),
.welcome-content p:not(:first-child) {
    @apply mt-6;
}

.accordion a {
    @apply text-green underline;
}
.accordion a:hover {
    @apply text-orange underline;
}
.footer-flag {
    background-image: none;
}

@screen lg {
    .footer-flag {
        margin-top: -35px;
        background-image: url('//www.marshall.edu/assets/images/m_flag.svg');
    }
}
.snap {
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scroll-behavior: smooth
  }
  .snap::-webkit-scrollbar {
    display: none;
  }

  .snap > div {
    scroll-snap-align: center;
  }

#community ul,
#amenities ul {
    @apply list-outside list-disc pl-6;
}

.entry-content ul {
    @apply list-inside list-disc pl-2;
}

@screen lg {
    .entry-content ul {
        @apply my-6;
    }
}
